/*universal styling*/
.link--cta {
    color: aquamarine;
    font-size: 16px;

}
body {
    font-family: Verdana;
    text-align: center;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

img,
video {
    padding: 15px 0;
}

/*Header*/
.header--main {
    
    font-weight: Normal;
    font-size: 50px;
}

/*Body*/
h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;
}

/*footer*/

.copyright {
    text-align: right;
}