/*universal styling*/

body {
    font-family: Verdana;
    text-align: center;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

img,
video {
    padding: 15px 0;
}

/*Headers*/
.header--main {
    
    font-weight: Normal;
    font-size: 50px;
}

.header--secondary {
    font-weight: 300;
    font-size: 42px;
}

.header--sub-header {
    font-size: 21px;
    color: gray;
}

/* Links */

.link--cta {
    color: aquamarine;
    font-size: 16px;

}

/*footer*/

.copyright {
    text-align: right;
}